<div class="dashboard-setup">
    <mat-card class="title-mat-card">
        <mat-card-title> Account Profile </mat-card-title>
    </mat-card>

    <mat-card class="account-mat-card">
        <mat-card-title>
            Account Information
        </mat-card-title>
        <mat-card-content>
            <div class="display-info">
                Account: {{ currentAddress }}
            </div>

            <div>
                Chainlink Amount: 
            </div>

            <div>
                Ethereum Amount
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="lending-mat-card">
        <mat-card-title>
            Lending Information
        </mat-card-title>
        <hr>
        <mat-card-content>
            <div>
                <h5>Total Deposited to Contract</h5>
                <p style="font-size: larger; color: black;">{{ totalDeposited }}</p>
            </div>
            <hr>
            <div>
                <h5>aToken Balance</h5>
                <p style="font-size: larger; color: black;"> {{ aTokenBalance }}</p>
            </div>
            <hr>
            <div>
                <h5>Your Selected Donation Percent</h5>
                <p style="font-size: larger; color: black;"> {{ givePercent }}</p>
            </div>
            <hr>
            <div>
                <h5>Your Saved Interest</h5>
                <p style="font-size: larger; color: black;"> {{ savedInterest }}</p>
            </div>
            
        </mat-card-content>
    </mat-card>

</div>