<div class="dashboard-setup">
    <mat-card class="title-mat-card">
        <mat-card-title> Account Profile </mat-card-title>
    </mat-card>

    <mat-card class="account-mat-card">
        <mat-card-title>
            Account Information
        </mat-card-title>
        <mat-card-content>
            <div class="display-info">
                Account: {{ currentAddress }}
            </div>

            <div>
                Chainlink Amount: 
            </div>

            <div>
                Ethereum Amount
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="lending-mat-card">
        <mat-card-title>
            Lending Information
        </mat-card-title>
        <mat-card-content>
            Total Lending for TAD
            <br>
            <button matButton (click)="getData()">Get Data</button>
        </mat-card-content>
    </mat-card>

</div>